html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    background-color: var(--ltgray);
    color: var(--grayblue);
    padding: 7.2rem 3.2rem 0rem 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

:root {
--white: hsl(0, 0%, 100%);
--cyan: hsl(179, 62%, 40%);
--ltcyan: hsl(179, 62%, 45%);
--yellow: hsl(71, 73%, 54%);
--dkyellow: hsl(71, 73%, 48%);
--ltgray: hsl(204, 43%, 93%);
--grayblue: hsl(218, 22%, 67%);
}

a {
    text-decoration: none;
}

h2, h3 {  
    font-weight: bold;
    margin-top: 0;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.25rem;
    line-height: 2.4rem;
    letter-spacing: .25 px;
}

h3 {
    font-size: 1.8rem;
    line-height: 2.1rem;
}

p {
    margin-top: 0;
    line-height: 2.6rem;
}

@media only screen and (min-width: 700px){
    h2 {
        font-size: 2.4rem;
        line-height: 2.8rem;
    }

}
